.supercarSection {
    display: flex;
    gap: 20px;
    background-color: #474c58;
    margin: 1%;
}

.information {
    margin: auto;
    width: 270px;
    height: 270px;
    background: #c0b1e1;
    border: 5px solid #c5e0dd;
    padding: 7px;
    text-align: center;
    font-size: 0.85rem;
}